@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

.gargeBtnActive {
    @apply bg-sky-600 hover:bg-sky-700 active:bg-sky-800 text-gray-200 px-4 py-2 rounded;
}

.gargeBtnDisabled {
    @apply bg-gray-800 text-gray-700 px-4 py-2 rounded;
}

.gargeBtnWarning {
    @apply bg-rose-600 hover:bg-rose-700 active:bg-rose-800 text-gray-200 px-4 py-2 rounded;
}

.gargeBtnSmall {
    @apply px-2 py-1 text-sm;
}

.gargeDropdown {
    @apply block w-full p-2 border rounded bg-gray-800 text-gray-200;
}

.gargeSecond {
    @apply bg-gray-800 rounded-lg shadow p-4
}
